body {
    font-family: arial;
    background-color: brown;
    color: white;
    text-align: center;
}

.btn {
    padding: 10px 20px;
    background-color: grey;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}

.form-group {
  padding: 10px;
}

.team-members {
    margin-top: 5px;
    font-weight: bold;
}

.card {
    width: 100%;
    height: auto;
    background-color: grey;
    color: orange;
}

.card-img-top {
  max-height: 200px;
  width: auto;
  margin: 0 auto;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  white-space: normal;
  overflow: hidden;
  text-overflow:clip;
}

.card-text {
  font-size: 14px;
  white-space: normal;
  overflow: hidden;
  text-overflow:clip;
}

.card-grid {
  margin-top: 5px;
}

#teamList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 576px) {
  .btn {
    font-size: 14px; 
    padding: 5px 10px; 
  }
}

